body {
    background-color: rgb(158, 88, 216); 
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(214, 196, 113); 
    padding: 10px 40px;
    display: flex;
    gap: 30px;
    align-items: center;
    border-bottom: 2px solid black;
}

.barramenus {
    background-color: rgb(214, 196, 113);
    display: flex;
    justify-content: space-between; 
    padding: 10px 40px;
    align-items: center;
    border-bottom: 2px solid black;
}

.menus {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menus a {
    text-decoration: underline;
    color: #333;
    font-weight: bold;
}

.botonesusuario {
    display: flex;
    gap: 20px;
}

.botonesusuario button {
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    font-weight: bold;
}

.botonesusuario button:hover {
    background-color: rgb(229, 210, 210);
}

.caja-bienvenida {
    border-left: 10px solid rgb(214, 196, 113);
    border-radius: 10px;
    margin: 20px 40px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    width: fit-content;
    min-width: 300px;
}

.caja-bienvenida h1 {
    margin: 0;
    font-size: 24px;
}

.caja-bienvenida hr {
    border: 1px solid black;
    margin: 10px 0;
}

.caja-bienvenida p {
    font-size: 20px;
    margin: 0;
}

.CajaPrincipal {
    display: flex;
    gap: 30px;
    padding: 20px 40px;
}

.alumnos {
    background-color: rgb(214, 196, 113);
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    width: 40%; 
}

.informacion-usuario {
    display: flex;
    align-items: center;
    gap: 15px; 
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px; 
    background-color:  rgb(214, 196, 113); 
    margin-bottom: 15px;
}

.imagen-perfil {
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
}

.datos-usuario {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.datos-usuario button, .mihorario button {
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px 12px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}

.datos-usuario button:hover, .mihorario button:hover {
    background-color: rgb(158, 88, 216);
    color: rgb(255, 255, 255);
}

.columna-derecha {
    width: 60%;
}

.mihorario {
    background-color: rgb(214, 196, 113);
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
}

.mihorario p {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid black; 
    margin: 0;
}